<div class="row">
<div class='container'>
  <div class="col-md-6 col-sm-6 col-lg-6" ng-controller="RegistrationController">

      <form class="form-horizontal" role="form" novalidate name="newUser">

        <div class="form-group userInput" id="newUserInputHeading">
          <label class="control-label ">Create New User</label>
        </div>

        <div class="form-group">
          <label class="control-label " for='username'>
            Username
          </label>
          <input class="textbox form-control col-sm-2" ng-model="username" id='username' required>
        </div>

        <div class="form-group">
          <label class="control-label " for='handle'>
            GitHub Handle
          </label>
          <input class="textbox form-control col-sm-2" ng-model="handle" id='handle' required>
        </div>

        <div class="form-group">
          <label class="control-label" for="password">
            Password
          </label>
          <input class='taskinput form-control' type='password' ng-model="password" id='password' required>
        </div>

        <div class="form-group">
          <label class="control-label " for="email">
            Email
          </label>
          <input type='text' input='text' class='form-control' ng-model ="email" id='email' required>
        </div>

        <div class="text-center">
          <button type="submit" class="userInput btn btn-default" id="registerButton" ng-click="register()">Sign Up</button>
        </div>
      </form>
  </div>
</div>
</div>