<div class="row">
  <div class="container">
    <div class="col-md-6 col-sm-6 col-lg-6" ng-controller="AuthController">
      <form class='form-horizontal' role='form' name="loginForm" novalidate ng-submit="login()">
        <div class="form-group grumpInput" id="grumpInputHeading">
          <label class="control-label ">Signin</label>
        </div>
        <div ng-show="loginFailed">Login Failed!</div>
        <div class="form-group">
          <input class="taskinput textbox form-control col-sm-2" ng-model="username" placeholder="username" id='username' required>
        </div>

        <div class="form-group">
          <input type="password" class="textbox form-control col-sm-2" ng-model="password" placeholder="password" id='password' required>
        </div>

        <div class="form-group">
          <div class="text-left">
            <button type='submit' class="btn btn-default text-left">
              Login
            </button>
            <a href="#/register" class="btn btn-default text-right">
              Signup
            </a>
          </div>
        </div>
      </form>

      <form class='form-horizontal' role='form' name="githubForm" ng-submit="initiateGithubSignin()">
        <div class="form-group">
          <div class="text-left">
            <button type='submit' class="btn btn-default" ng-click="githubLogin()">
              Signin using GitHub
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>